language: elixir

sudo: false

elixir:
  - 1.5.3
  - 1.6.0
  - 1.7.0

otp_release:
  - 18.3
  - 19.3
  - 20.2

script:
  - MIX_ENV=docs mix do deps.get
  - MIX_ENV=test mix do deps.get, coveralls.travis

# matrix:
#   exclude:
#   - elixir: 1.6.0
#     otp_release: 18.3
